<style>
    h2 {
        position: relative;
        color: red;
        text-align: center;
        
    }
    h3 {
        text-align : center;
    }

    .card {
        width: 76%;
        text-align: center;
        position: relative;
        top: 30%;
        left: 12%;

    }

    input {
        display: inline-block;
        padding: 12px 12px 12px 12px;    
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
        font-size: larger;
        width: 60%;
       
    }

    input::placeholder{
        font-size: larger;
        font-weight: bolder;
        font-family: 'Courier New', Courier, monospace;
    }

    .submit_btn {
        position: absolute;
        border: none;
        left: 47%;
        font-size: larger;
        font-family: Verdana, Geneva;
        background-color: darkgreen;
        color: white;
        padding: 6px 6px 6px 6px ;


    }
    /* while using hover do not leave space (verify the line down)*/
    .submit_btn:onClick{ 
        box-shadow: 0 6px 6px 0 rgba(0,0,0,0.6);
        color: darkgreen;
        background-color: white;
    }

    .form_next_btn{
        position: relative;
        left: 45%;
        width: 120px;
        padding: 12px;
        color : white;
        background-color: darkgreen;
        border: none;
        font-weight: bolder;
        font-size: larger;
    }

    .form_next_btn:hover{
        opacity: 0.6;
    }

    a{
        position: absolute;
        left: 48.2%;
        bottom: 12%;
        font-size: larger;
        color: red;
        padding: 6px 6px 6px 6px;
    }
    a:hover{
        background-color: bisque;
    }

</style>

<h2>Login</h2>
<h3>(Use the provided details)</h3>

<div class="admin_form">
    <form action="/admins-login-submit" method="get">
        <div class="card">
            <ul>
                <!-- <p>Name</p> -->
                <br><input id="form_name" type="text" placeholder="Name"  name="adminName" required> <br>     
                <!-- <p>Email</p> -->
                <br><input id="form_email" type="email" placeholder="Email" name="adminEmail" required> <br>
                <!-- <p>Password</p> -->
                <br><input id="form_password" type="password" placeholder="Password" name="adminPassword"  required> <br>
            </ul>
            <!-- <input type="submit" value="Submit"> --> 
            <br><button class="submit_btn" id="form_submit_btn" type="submit">Submit</button><br>
        
        </div>
    </form>
    <button class="form_next_btn" id="form_nxt_btn" >Next</button>     
    
</div>

<div>
    <a href="/" class="backLink">Back</a>
</div>

<script>
    //accessing submit btn
    var form_submit_btn = document.getElementById("form_submit_btn")
    form_submit_btn.style.visibility = "hidden"
    //accessing next btn
    var form_nxt_btn = document.getElementById("form_nxt_btn")
    form_nxt_btn.addEventListener("click" , form_nxt_btn_fn)


    //accessing form's name ,email and password
    var form_name = document.getElementById("form_name")
    var form_email = document.getElementById("form_email")
    var form_password = document.getElementById("form_password")

    //form_submit_btn.addEventListener("click" , form_submit_btn_fn)
    
    function form_nxt_btn_fn() {
        if (form_name.value === "Ruthrasankar" & form_email.value === "123@gmail.com" & form_password.value === "123"){
            form_submit_btn.style.visibility = "visible" 
            form_nxt_btn.style.visibility = "hidden"
        }

    }

</script>
