<style>
    h1 {
        color : red;
        padding: 0%;
        text-align: center;
    }

    a {
       font-size: larger;
       text-decoration: none;
       color: white;
       
    }
    .card { 
        position: absolute;
        background-color: rgb(255, 91, 31);
        width: 200pt;
        text-align: center;
        box-shadow: 0 12px 12px 0 rgba(0,0,0,0.6);
        transition: 0.3s;
        left: 40%;
        top: 30%;
        padding: 12pt 12pt 12pt 12pt;
        border-radius: 10%;
    }
    
    .card:hover {
        box-shadow: 0 6px 6px 0 rgba(0,0,0,0.12);
        background-image: linear-gradient(red,orange);
    }
    .Start_link{
        position: absolute;
        display: inline-block;
        width : 200pt;   
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bolder;
        text-align: center;
        height: 30px;
        padding: 12px 12px 12px 12px;
        left: 40%;
        bottom: 40%;
        border-radius: 100pt;
    }

    .Admin_link{
        position: absolute;
        font-family: 'Lucida Sans', 'Lucida Sans Regular';
        left: 40%;
        bottom : 55%;
        border-radius: 100pt;
        height: 30px;
        width: 200pt;
        padding: 12px 12px 12px 12px;
        text-align: center;
    }


</style>

<h1>Welcome to Quiz corner</h1>
<div class = "card"> 
    <div class = "link" >   
        <a href="/admins" > <h3> Admin </h2> </a> <br>
        <a href="/Users-details" > <h3> Get Started </h3> </a>
    </div>
</div>
    