
<style>

    body {
        font-family: 'Courier New', Courier, monospace;
    }

    h1 {
        text-align: center;
        color: red;
        background-color: yellow;
    
    
    }

    p {
        font-weight: bolder;
    }

    .startLink {
        position: relative;
        text-decoration: none;
        padding: 12px 12px 12px 12px;
        border-radius: 12px;
        left: 37%;
        background-color: yellow;
        color: darkgreen;
        font-weight: bolder ;
        font-size: large ;
    
    }

    .backLink {
        position: relative;
        text-decoration: none;
        padding: 12px 12px 12px 12px;
        border-radius: 12px;
        left: 47%;
        background-color: yellow;
        color: darkgreen;
        font-weight: bolder ;
        font-size: large;
    }

    a:hover {
        border: solid;
    }

</style>

<div>
    <h1>Rules</h1>
    <div>
        <br><p>1) This app is for practice only </p>
        <br><p>2) There will be 3 Questions </p>
        <br><p>3) Each contains a point </p>
        <br><p>4) The Score board will be displayed at last </p>
        <br><p>5) As you answer the questions , simultaneously the scores will be updated in the panel </p>
        <br><p>6) Your scores "will not be saved" </p>
    </div>
    <div> <br> <a href="/quiz" class="startLink">Start</a><a href="/" class="backLink">Back</a> <br></div>
    
</div>